<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>Sponsor1</param-name>
    <param-value>다모아 마트</param-value>
  </context-param>
  <context-param>
    <param-name>Manager Address</param-name>
    <param-value>서울시 강남</param-value>
  </context-param>
  <jsp-config>
    <taglib>
      <taglib-uri>http://my_functions.com</taglib-uri>
      <taglib-location>/WEB-INF/my_functions.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://ex02.com</taglib-uri>
      <taglib-location>/WEB-INF/ex02.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://june02.com</taglib-uri>
      <taglib-location>/WEB-INF/june02/ex.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://taglib5.tld</taglib-uri>
      <taglib-location>/WEB-INF/taglib5.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://toolbar.com</taglib-uri>
      <taglib-location>/WEB-INF/taglib165.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://effect.com</taglib-uri>
      <taglib-location>/WEB-INF/taglib294.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://mytag.com</taglib-uri>
      <taglib-location>/WEB-INF/mytag.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>My</servlet-name>
    <servlet-class>june04.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>My</servlet-name>
    <url-pattern>/june04/myServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MySecServlet</display-name>
    <servlet-name>MySecServlet</servlet-name>
    <servlet-class>june04.MySecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySecServlet</servlet-name>
    <url-pattern>/june04/mySecServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeerSelection</display-name>
    <servlet-name>BeerSelection</servlet-name>
    <servlet-class>june04.BeerSelection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeerSelection</servlet-name>
    <url-pattern>/june04/beerSelect.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MatServ</display-name>
    <servlet-name>MatServ</servlet-name>
    <servlet-class>mat.MatServ</servlet-class>
    <init-param>
      <param-name>MatName</param-name>
      <param-value>최고맛집!</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatServ</servlet-name>
    <url-pattern>/mat/searchMat.it</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>AdminAddress</param-name>
    <param-value>관리자 : qwerty@naver.com, 010-2222-1111</param-value>
  </context-param>
  <context-param>
    <param-name>pumjong</param-name>
    <param-value>진돗개</param-value>
  </context-param>
  <listener>
    <listener-class>param.MyParamListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>MyParamServlet</display-name>
    <servlet-name>MyParamServlet</servlet-name>
    <servlet-class>param.MyParamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyParamServlet</servlet-name>
    <url-pattern>/MyParamServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>param.MyCountUpListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>MyCountShowServlet</display-name>
    <servlet-name>MyCountShowServlet</servlet-name>
    <servlet-class>param.MyCountShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyCountShowServlet</servlet-name>
    <url-pattern>/MyCountShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyLoginServlet</display-name>
    <servlet-name>MyLoginServlet</servlet-name>
    <servlet-class>june05.MyLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyLoginServlet</servlet-name>
    <url-pattern>/june05/login.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginCheckFilter</display-name>
    <filter-name>LoginCheckFilter</filter-name>
    <filter-class>june05.LoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>/june05/winner.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>june05.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>june10.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/june10/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet1</servlet-name>
    <servlet-class>june10.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet1</servlet-name>
    <url-pattern>/june10/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BBSPostServlet</servlet-name>
    <servlet-class>june10.BBSPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBSPostServlet</servlet-name>
    <url-pattern>/june10/bbs_post.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BBSReadServlet</servlet-name>
    <servlet-class>june10.BBSReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBSReadServlet</servlet-name>
    <url-pattern>/june10/bbs_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BBSItemServlet</servlet-name>
    <servlet-class>june10.BBSItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBSItemServlet</servlet-name>
    <url-pattern>/june10/bbs_Item</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>june11.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/june11/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageUploadServlet</display-name>
    <servlet-name>ImageUploadServlet</servlet-name>
    <servlet-class>june11.ImageUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUploadServlet</servlet-name>
    <url-pattern>/june11/uploadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteFormServlet</display-name>
    <servlet-name>WriteFormServlet</servlet-name>
    <servlet-class>Servlet.WriteFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteFormServlet</servlet-name>
    <url-pattern>/june11/writeForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteServlet</display-name>
    <servlet-name>WriteServlet</servlet-name>
    <servlet-class>Servlet.WriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteServlet</servlet-name>
    <url-pattern>/june11/write.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>Servlet.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/june11/bbs_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadServlet</display-name>
    <servlet-name>ReadServlet</servlet-name>
    <servlet-class>Servlet.ReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadServlet</servlet-name>
    <url-pattern>/june11/bbs_read</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>Servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/june11/bbs_delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>Servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/june11/bbs_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteWritingServlet</display-name>
    <servlet-name>DeleteWritingServlet</servlet-name>
    <servlet-class>Servlet.DeleteWritingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWritingServlet</servlet-name>
    <url-pattern>/june11/delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateWritingServlet</display-name>
    <servlet-name>UpdateWritingServlet</servlet-name>
    <servlet-class>Servlet.UpdateWritingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateWritingServlet</servlet-name>
    <url-pattern>/june11/update.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyServlet</display-name>
    <servlet-name>ReplyServlet</servlet-name>
    <servlet-class>Servlet.ReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyServlet</servlet-name>
    <url-pattern>/june11/bbs_reply</url-pattern>
  </servlet-mapping>
</web-app>