<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  	<param-name>Sponsor1</param-name>
  	<param-value>다모아 마트</param-value>
  </context-param>
  <context-param>
  	<param-name>Manager Address</param-name>
  	<param-value>서울시 강남</param-value>
  </context-param>
  <jsp-config>
  	<taglib>
  		<taglib-uri>http://my_functions.com</taglib-uri>
  		<taglib-location>/WEB-INF/my_functions.tld</taglib-location>
  	</taglib>
  	<taglib>
  		<taglib-uri>http://ex02.com</taglib-uri>
  		<taglib-location>/WEB-INF/ex02.tld</taglib-location>
  	</taglib>
  	<taglib>
  		<taglib-uri>http://june02.com</taglib-uri>
  		<taglib-location>/WEB-INF/june02/ex.tld</taglib-location>
  	</taglib>
  	<taglib>
  		<taglib-uri>http://taglib5.tld</taglib-uri>
  		<taglib-location>/WEB-INF/taglib5.tld</taglib-location>
  	</taglib>
  	<taglib>
  		<taglib-uri>http://toolbar.com</taglib-uri>
  		<taglib-location>/WEB-INF/taglib165.tld</taglib-location>
  	</taglib>
  	<taglib>
  		<taglib-uri>http://effect.com</taglib-uri>
  		<taglib-location>/WEB-INF/taglib294.tld</taglib-location>
  	</taglib>
  	<taglib>
  		<taglib-uri>http://mytag.com</taglib-uri>
  		<taglib-location>/WEB-INF/mytag.tld</taglib-location>
  	</taglib></jsp-config>
</web-app>