@CHARSET "EUC-KR";
h1, h2 {
	color: #8c8c8c;
}
h1 {
	font-family: "맑은 고딕";
	border-bottom: 8px solid gray;
}
p {
	font-family: "맑은 고딕";
}
p.greentea {
	color: #64CD3C;
}
p.raspberrytea {
	color: #32BEBE;
}
p.blueberrytea {
	color: #C964E2;
}
p.cranberrytea {
	color: #FF0000;
}