@CHARSET "EUC-KR";
body {
	background-color: red;
	text-align: center;
	color: #f2ec00;
}
img {
	border: 0px;
}
h1 {
	color: white;
}
h2 {
	color: white;
}
.buger{
	border: double 20px #f2ec00;
	width : 600px;
}
#line {

}
.img {
	display: inline-block;
	width: 200px;
	padding: 10px;
	margin: 5px;
	font: normal/3em "¸¼Àº °íµñ" bold;
	color: #f2ec00;
	border: double 20px #f2ec00;
}
#form {
	border: maroon medium;
}
table {
	text-align: left;
	table-layout: inherit;
	width: auto;
	margin: auto;
}
.join {
	width: 280px;
}
.col1 {
	width: 120px;
}
.menu {

}
