<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyHome</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>myhome.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>myhome.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BBSPostServlet</display-name>
    <servlet-name>BBSPostServlet</servlet-name>
    <servlet-class>myhome.BBSPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBSPostServlet</servlet-name>
    <url-pattern>/bbs_post.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BBSReadServlet</display-name>
    <servlet-name>BBSReadServlet</servlet-name>
    <servlet-class>myhome.BBSReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBSReadServlet</servlet-name>
    <url-pattern>/bbs_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BBSItemServlet</display-name>
    <servlet-name>BBSItemServlet</servlet-name>
    <servlet-class>myhome.BBSItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBSItemServlet</servlet-name>
    <url-pattern>/bbs_Item</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsPostServlet</display-name>
    <servlet-name>GoodsPostServlet</servlet-name>
    <servlet-class>myhome.GoodsPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsPostServlet</servlet-name>
    <url-pattern>/goods_post.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsReadServlet</display-name>
    <servlet-name>GoodsReadServlet</servlet-name>
    <servlet-class>myhome.GoodsReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsReadServlet</servlet-name>
    <url-pattern>/goods_list</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/template.jsp?BODY=errorpage.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/template.jsp?BODY=errorpage.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>GoodsItemServlet</display-name>
    <servlet-name>GoodsItemServlet</servlet-name>
    <servlet-class>myhome.GoodsItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsItemServlet</servlet-name>
    <url-pattern>/goods_item</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddItemToCartServlet</display-name>
    <servlet-name>AddItemToCartServlet</servlet-name>
    <servlet-class>myhome.AddItemToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItemToCartServlet</servlet-name>
    <url-pattern>/add_item_to_cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartListServlet</display-name>
    <servlet-name>CartListServlet</servlet-name>
    <servlet-class>myhome.CartListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartListServlet</servlet-name>
    <url-pattern>/cart_list</url-pattern>
  </servlet-mapping>
</web-app>