<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="configurations.MyMapper">
<cache/>
	<select id="selectMemberByPK" parameterType="String" resultType="model.UserInfo">
	select id, password from uinfo where id = #{id}
	</select>
	<select id="selectMaxSeqNo" resultType="Integer">
	select max(seqno) max_seqno from bbs	
	</select>
	<insert id="insertBBSInfo" parameterType="model.BBSPost">
	insert into bbs(seqNo, title, content, id)
	values(#{seqno}, #{title}, #{content}, #{id})
	</insert>
	<select id="selectCount" resultType="Integer">
	select count(*) as num from bbs
	</select>
	<select id="selectBBSinfo" resultType="model.BBSList">
	select seqno, title, id from bbs order by seqno desc
	</select>
	<select id="selectBBSitem" parameterType="Integer" resultType="model.BBSItem">
	select seqno, title, content, id from bbs where seqno = #{seqno}
	</select>
	<select id="selectLastId" parameterType="String" resultType="Integer">
	select last_id from id_sequence where table_name = #{name}
	</select>
	<insert id="insertWritingInfo" parameterType="Writing">
	insert into writing_info values(
	#{writingid}, #{groupid}, #{orderno}, #{parentid}, #{registerdate},
	#{writername}, #{email}, #{imagename}, #{password}, #{title})
	</insert>
	<insert id="insertWritingContent" parameterType="WritingContent">
	insert into writing_content values(#{writingid}, #{content})
	</insert>
	<insert id="insertSequenceManager" parameterType="IdSequence">
	insert into id_sequence values(#{name}, #{lastid})
	</insert>
	<update id="updateSequenceManager" parameterType="IdSequence">
	update id_sequence set last_id=#{lastid} where table_name=#{name}
	</update>
	<select id="selectMaxGroupId" resultType="Integer">
	select max(group_id) from writing_info
	</select>
	<select id="selectBBSList" resultType="Writing">
	select <include refid="BaseColumns"/> from writing_info order by group_id desc
	</select>
	<sql id="BaseColumns">
	WRITING_ID as writingid, GROUP_ID as groupid, ORDER_NO as orderno, PARENT_ID as parentid, REGISTER_DATE as registerdate,
	WRITER_NAME as writername, EMAIL as email, IMAGE_NAME as imagename, PASSWORD as password, TITLE as title
	</sql>
	<select id="selectWritingInfo" parameterType="Integer" resultType="Writing">
	select <include refid="BaseColumns"/> from writing_info
	where writing_id = #{writingid}
	</select>
	<select id="selectWritingContent" parameterType="Integer" resultType="String">
	select content from writing_content where writing_id = #{writingid}
	</select>
	<delete id="deleteWritingInfo" parameterType="Integer">
	delete writing_info where writing_id = #{writingid}
	</delete>
	<delete id="deleteWritingContent" parameterType="Integer">
	delete writing_content where writing_id = #{writingid}
	</delete>
	<update id="updateWritingInfo" parameterType="Writing">
	update writing_info set WRITER_NAME = #{writername}, EMAIL = #{email}, TITLE = #{title}, IMAGE_NAME = #{imagename} where writing_id = #{writingid}
	</update>
	<update id="updateWritingContent" parameterType="Writing">
	update writing_content set CONTENT = #{content} where writing_id = #{writingid}
	</update>
	<select id="selectMaxOrderIdReply" parameterType="Writing" resultType="Integer">
	select max(order_no) from writing_info
	where group_id = #{groupid} and parent_id = #{parentid}
	</select>
</mapper>